services:
  prometheus:
    image: prom/prometheus
    container_name: prom
    # "host" network allows Prometheus to easily scrape the exporter running on localhost
    network_mode: host 
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    container_name: grafana
    network_mode: host
    restart: unless-stopped
